/*Escolhendo a fonte de toda a pagina e ajustando a borda para nenhuma*/
body{
    font-family: "Arial";
    margin: 0;
    padding: 0;
    border: 0;
}
/*Escolhendo a cor e a distancia do logo ate o final do header*/
header{
    background-color: #2c2b2a;
    padding: 20px;
}
/*Estilizando o menu á direita do logo e a distandia do topo*/
nav{
    position: absolute;
    right: 0;
    top: 60px;
}
/*Estilizando a distancia entre os itens do menu e a posição em linha*/
nav li{
    display: inline;
    margin: 0/*cima*/ 0/*direita*/ 0/*baixo*/ 15px/*esquerda*/;
}
/*Escolhendo a cor das letras do menu, retirando o sublinhado, negrito e o tamanho*/
nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
}
/*Estilização do link quando o mouse estiver em cima*/
nav a:hover{
    color: red;
    text-decoration: underline;
}
/*Estilizando a posição do logo e menu pelo div*/
.logo_caixa{
    position: relative;
    width: 940px;
    margin: auto;
}
/*Estilizando o tamanho do logo*/
.logo{
    width: 50%;
}
.banner{
    width: 100%;
}
/*Sobra a Pizzaria Seu Pizza*/
.pizza{
    width: 100px;
    float: left;
    margin: 0 20px;
}
.titulo-pizza{
    text-align: center;
    clear:left;
    font-size: 2em;
}
.sobre-pizzaria{
    background-color: #FFFFFE;
    width: 80%;
    padding-left: 100px;
}

.titulo-padrao{
    text-align: center;
    font-size: 2em;
    margin: 0;
    padding: 30, 0, 20, 0;
}

/*Estilização da sessão Nosso estabelecimento*/
.mapa{
    text-align: center;
    background: linear-gradient(#fffffe, #FFBB00);
}
/*Estilização da sessão Beneficios*/
.beneficios{
    background-color: #FFBB00;    
}
.lista-beneficios{
    list-style: "😋";
    width: 20%;
    display: inline-block;
    vertical-align: top;
    padding-left: 30%;
}
.lista-beneficios li{
    line-height: 1.5;
}
.lista-beneficios li:before{
    content: "🍕";
}
.img_beneficios{
    width: 300px;
    box-shadow: 10px 10px 5px 0 black;
    opacity: 1;
    transition: 400ms;
}
.img_beneficios:hover{
    opacity: 0.7;
}
.conteudo-beneficios{
    width: 100%;
}
.video{
    text-align: center;
}

/*Estilização do Footer*/
footer{
    text-align: center;
    margin: 0 auto;
    background: grey;
    padding: 0px 0 20px 0;
}
.copyright{
    font-size: 12px;
    margin:10px;
}
.logo_footer{
    width: 5%;
}



/*Cardapio*/
.titulo-cardapio:before{
    content: "🍕";
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    align-items: center;
}
.cardapio{
    text-align: center;
}
.car{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    padding-bottom: 150px;
}

.pizza_car img{
    max-width: 50%;
}

.pizza_car{
    border: 2px inset rgb(168, 94, 9);
    margin-right: 20px;
    width: 300px;
    padding: 20px;
    margin-left: 0;
    display: inline-block;
    text-align: center;
 }


 